.body-inicio {
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sesion{
  display: flex;
  align-items: center;
  gap: 12px;
}

.contenedor-inicio {
  display: flex;
  height: 85vh;
}

.titulo{
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 5rem;
  font-weight: 400;
  color: #111827;
}

.imagen-inicio{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

}

.contenedor-inicio img{
  width: 100%;
  height: auto;

}