.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.error{
    color: red;
    font-size: 0.9rem;
}

.navegador{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
}