.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.error {
  color: #EF4444;
  font-size: 0.9rem;
  margin-top: -5px;
  margin-bottom: 10px;
  font-weight: 500;
}



.navegador{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
}