.body-login{
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.contenedor_login{
    display: flex;
    height: 87vh;
}

.contenedor_formulario{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.formulario{
    width: 70%;
}

.imagen_login{
    flex: 1;
    display: flex;
}

.imagen_login img{
    width : 100%;
    height: auto;
    border-radius: 30px;
}
