.body_dashboard {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.dashboard {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.contenedor_dashboard {
    flex: 1;
    display: flex;
}