button {
    font-weight: 600;
    border: none;
    border-radius: 8px;
    padding: 7px 20px;
    font-size: 1.1rem;
    cursor: pointer;
    font-family: "Manrope", sans-serif;
}

.primario {
    background-color: #3A7AFE;
    color: white;
}

.sin_fondo {
    background-color: transparent;
    color: #3A7AFE;
}

.logo {
    font-size: 1.9rem;
    background-color: transparent;
    color: #111827;
    padding: 0;
}

.logo_dashboard {
    background-color: transparent;
    color: #ffffff;
}

.Auth {
    font-size: 1rem;
    font-weight: 700;
    background-color: transparent;
    color: #3A7AFE;
}

.boton-text {
    white-space: nowrap;
}

.boton_dashboard {
    display: flex;
    font-weight: 200;
    font-size: 1.2rem;
    background-color: transparent;
    color: #CBD5E1;
    padding: 0;
    gap: 10px;

}

.menu_item {
    width: 100%;
    justify-content: flex-start;
    background: transparent;
    color: #111827;
    padding: 10px;
    font-size: 0.95rem;
}

.menu_item:hover {
    background: #f3f4f6;
}